      /* Text Size */
    $ts-sml: calc(10px + (10 - 8) * ((100vw - 300px) / (1600 - 300)));
    $ts-reg: calc(20px + (20 - 18) * ((100vw - 300px) / (1600 - 300)));
    $ts-med: calc(27px + (27 - 20) * ((100vw - 300px) / (1600 - 300)));
    $ts-large: calc(35px + (35 - 20) * ((100vw - 300px) / (1600 - 300)));
    $ts-xlarge: calc(60px + (60 - 20) * ((100vw - 300px) / (1600 - 300)));
  